.hidden {
    display: none !important;
}

main > .container .alert-danger {

}

main > .container #auctions_message_delete {

}

main > .container .alert-danger{
    background: linear-gradient(
            281.27deg, #f8d7da 0%, #f8d7da 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 35px 16px;
    border: 1px transparent solid;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #721c24;
    border-color: transparent;
    cursor: pointer;
}

main > .container #auctions_message_delete {
    background: linear-gradient(
            281.27deg, #e02323 0%, #fb1818 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 35px 16px;
    border: 1px transparent solid;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border-color: transparent;
    cursor: pointer;
}

main > .container .alert-success {
    background: linear-gradient(
            281.27deg, #d4edda 0%, #d4edda 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 35px 16px;
    border: 1px transparent solid;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #155724;
    border-color: transparent;

    cursor: pointer;
}

.menu-header {
    position: absolute;
    width: max-content;
    height: 18px;
    left: 587px;
    top: 35px;
}

.menu-header #language,
.menu-header #currencies {
    text-transform: uppercase;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px 7px;
    border: 1px solid #2285e2;
    border-radius: 15px;
    position: relative;
    margin-right: 5px;
}

.lots {
    float: left;
    margin: 0 0 15px 15px;
}

.lots h3 {
    margin: 15px 0;
}
.lots table {
    text-align: center;
    min-width: 370px;
}

.lots table #lot_price,
.lots table #counteroffer{
    text-align: center;
    border-radius: 15px;
    display: block;
    padding: 5px;
    overflow: auto;
    box-shadow: 0 1px 16px 0 rgba(65, 71, 71, 0.55);
}
.lots table #lot_price {
    height: 275px;
}
.lots table #counteroffer {
    height: 150px;
}
.lots table #lot_price tr,
.lots table #counteroffer tr {
    padding: 5px;
    height: 15px;
}

.lots table #lot_price th ,
.lots table #counteroffer th {
    padding: 5px;
    height: 15px;
}

.lots table #counteroffer tr td,
.lots table #lot_price tr td {
    padding: 5px 10px 5px;
}
.lots table #counteroffer tr td button {
    width: 100px;
}

.container-auctions.status .lots table #counteroffer tr td button {
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: max-content; /* Could be more or less, depending on screen size */
}
.modal-content .content {
    margin-top: 15px;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.float-left {
   float: left;
}

.w-50 {
    width:50%;
}

#auctions_counteroffer_message_comment_div {
    display: none;
}


#counterofferCheckbox,
#autoBidCheckbox  {
    width: 15px;
    height: 15px;
    float: left;
    padding: 0;
    margin: 0 15px;
}

#auctionsAddBidModal,
#auctionsAddAutoBid {
    margin: 15px 0;
}

.modal button,
#auctionsAddBid.modal button,
#auctionsAddAutoBid.modal button{
    display: inline-block;
    width: 150px;
    padding: 14px 35px 16px 25px;
}
#auctionsAddBid.modal div.close,
#auctionsAddAutoBid.modal div.close{
    display: inline-block;
    width: 90px;
    background: #F2F2F2;
    color: #111111;
    border-radius: 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 35px 16px;
    border: 1px transparent solid;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    border-color: transparent;
    cursor: pointer;
}

main > .container .vich-file input {
    float: left;
}

main > .container .btn {
    background: #761c19;
    width: 50px;
}
main > .container .btn:hover {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
.DocA {
    background: linear-gradient(
            281.27deg, #23e05f 0%, #27fb18 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 35px 16px;
    border: 1px transparent solid;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    width: 298px;
    cursor: pointer;
}

main label[for="aucBuy"],
main label[for="aucSell"] {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px 7px;
    border: 1px solid #2285e2;
    border-radius: 15px;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}

main label[for="aucBuy"]:hover,
main label[for="aucSell"]:hover {
    border-color: transparent;
    background: linear-gradient(281.27deg, #2382E0 0%, #18A0FB 100%);
    color: #FFFFFF;
}

main input:checked+label[for="aucBuy"],
main input:checked+label[for="aucSell"] {
    border-color: transparent;
    background: linear-gradient(281.27deg, #2382E0 0%, #18A0FB 100%);
    color: #FFFFFF;
}

main #aucSell:checked+label+input+label+div.table-container {
    display: block;
}

main #aucSell:checked+label+input+label+div.table-container+div.table-container {
    display: none;
}

main #aucSell+label+input:checked+label+div.table-container {
    display: none;
}

main #aucSell+label+input:checked+label+div.table-container+div.table-container {
    display: block;
}

main label[for="auctions_auction"],
main label[for="auctions_hideAuthor"] {
    display: inline;
    line-height: 22px;
}

main label[for="auctions_auction"]+input[type="checkbox"],
main label[for="auctions_hideAuthor"]+input[type="checkbox"] {
    width: 22px;
    height: 22px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px 0 0;
    background: #F2F2F2;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 3px;
    float: left;
}

main label[for="auctions_auction"]+input[type="checkbox"]:checked+div {
    display: block !important;
    margin-top: 20px;
}